body {
    background-color: darkslategrey;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: antiquewhite;
    
}

#passages {
    border: darkseagreen groove 0.5em;
	border-radius: 1em;
	padding: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    
}


a {
    color:darkseagreen;
    border: 1px solid darkseagreen;
    padding: 3px;
    border-radius: 0.5em;    
}

a:hover {
    color:antiquewhite;
    text-decoration: none;
    border: 1px solid antiquewhite;
    padding: 3px;
}

h1 {
    color: rgb(220, 245, 220);
    text-align: center;
}

.passage {
    text-align: center;
}

#ui-bar {
    background: darkseagreen;
    border-color: black;
}

.macro-listbox {
    background: none;
    border-color: antiquewhite;
    margin-top: 1em;
    border-radius: 0.5em;
    color: rgb(220, 245, 220);
}
